/* Add a black background color to the top navigation */
.topnav {
    background-color: #a3e6ec;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0a0909;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e6f880;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04176e;
    color: rgb(240, 213, 9);
  }

  /* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
  }

.topnav-right a.active_1{
    background-color: #04176e;
    color: rgb(240, 213, 9);
  }