<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" initial-scale=1, maximum-scale=1, user-scalable=no />
        <title>Home Page</title>
        <link rel="stylesheet" href="/static/login.css">

      <style>
        .error {
            color : red;
        }
        body {
  background-image: url('/static/Background_image_home.png');
  background-size: cover; /* or contain */
  background-position: center center; 
  background-repeat: no-repeat; 
}
      </style>

    </head>

    <body>
        <div class="headings" >
            <center>
            <h1 text-align="center">Home</h1>
            <h2>Welcome to Quiz Master !!! </h2>
        </center>
        <center>
            <br>
    
            <br>
         Are you an existing user ? 
        <br>
    
        <br>
            <a href="{{url_for('auth.user_login')}}" > 
                <button type="submit" class="btn btn-primary">Login</button>
            </a>
        <br>
        <br>
        <br>
         Are you an new user ? 
        <br>
    
        <br>
            <a href="{{url_for('auth.register')}}" > 
                <button type="submit" class="btn btn-info">Register</button>
            </a>
        <br>
        <br>
        <br>
    </center>
    </div>
    </body>


</html>